.s1
  left: 1%
  top: 5%
  background-color: rgba(255, 254, 196, 1)
  width: 5px
  height: 5px;

.s1:nth-child(10n)
    height: 2px
    width: 2px
    background-color: rgba(255, 255, 255, 0.5)
.s1:nth-child(5n)
    height: 3px
    width: 3px
    background-color: rgba(255, 255, 255, 1)
.s1:nth-child(15n)
    height: 3px
    width: 3px
    background-color: rgba(255, 254, 196, 0.5)
.s1:nth-child(4n)
    height: 3px
    width: 3px
    background-color: rgba(192, 247, 255, 1)
































  // rgba(255, 255, 255, 0.5) |  rgba(255, 255, 255, 1) | rgba(255, 254, 196, 0.5) | rgba(192, 247, 255, 1) | rgba(192, 247, 255, 0.5)  |
