.s1
  left: 1%
  top: 5%
  background-color: rgba(255, 254, 196, 1)
  width: 5px
  height: 5px;

.s1:nth-child(10n)
    height: 2px
    width: 2px
    background-color: rgba(255, 255, 255, 0.5)
.s1:nth-child(5n)
    height: 3px
    width: 3px
    background-color: rgba(255, 255, 255, 1)




.s2
  left: 1%
  top: 5%
  height: 1px
  width: 1px
  background-color: rgba(255, 255, 255, 0.5)

.s3
  width: 3px
  height: 3px
  background-color: rgba(255, 255, 255, 1)

.s4
  width: 6px
  height: 6px
  background-color: rgba(255, 254, 196, 0.5)

.s5
  width: 4px
  height: 4px
  background-color: rgba(192, 247, 255, 1)

.s6
  background-color: rgba(192, 247, 255, 0.5)


  // rgba(255, 255, 255, 0.5) |  rgba(255, 255, 255, 1) | rgba(255, 254, 196, 0.5) | rgba(192, 247, 255, 1) | rgba(192, 247, 255, 0.5)  |
